<footer class="bg-dark text-light py-2 mt-auto">
    <!-- Grid container -->
    <div class="container text-center">
      <!-- Section: Social media -->
      <section class="bg-dark m-2">
        <!-- Facebook -->
        <a
          class="btn-sm mx-3"
          aria-label="Facebook"
          target="_blank"
          href="https://www.facebook.com"
          role="button"
        >
          <i class="fa-brands fa-facebook-f fa-lg"></i>
        </a>
  
        <!-- Twitter -->
        <a
          class="btn-sm mx-2"
          aria-label="Twitter"
          target="_blank"
          href="https://x.com"
          role="button"
        >
          <i class="fa-solid fa-x fa-lg"></i>
        </a>
  
        <!-- Google -->
        <a class="btn-sm mx-2" href="#!" role="button">
          <i class="fa-brands fa-google fa-lg"></i>
        </a>
  
        <!-- Instagram -->
        <a class="btn-sm mx-2" href="#!" role="button">
          <i class="fa-brands fa-instagram fa-lg"></i>
        </a>
  
        <!-- Linkedin -->
        <a class="btn-sm mx-2" aria-label="LinkedIn" href="#!" role="button">
          <i class="fab fa-linkedin-in fa-lg"></i>
        </a>
  
        <!-- Github -->
        <a class="btn-sm mx-2" aria-label="Github" href="#!" role="button">
          <i class="fab fa-github fa-lg"></i>
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-light m-2">
      <span>
        Copyright © 2024 Desarrollo de Aplicaciones WEB | Desarrollo de Frontend
        para una API Publica | Actividad - 9
      </span>
  
      <div class="container">
        <!-- List items without custom CSS -->
        <ul class="list-unstyled mb-0">
          <li class="d-inline mx-2">
            <a href="#!" class="text-light">Aviso Legal</a>
          </li>
          <li class="d-inline mx-2">
            <a href="#!" class="text-light">Política de Privacidad</a>
          </li>
          <li class="d-inline mx-2">
            <a href="#!" class="text-light">Política de Cookies</a>
          </li>
          <li class="d-inline mx-2">
            <a class="text-light" href="javascript:void(0);"
              >Configuración de Cookies</a
            >
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- End of Footer -->