<header class="bg-primary text-white  shadow-sm py-2">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <!--Titulo a la izquierda -->
        <a class="navbar-brand" href="/">Mi Aplicación</a>
  
        <!-- Boton para la version movil -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <!-- Barra de navegacion a la derecha -->
        <div class="collapse navbar-collapse ms-auto" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/" routerLinkActive="active">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/posts" routerLinkActive="active"
                >Posts</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/posts/create" routerLinkActive="active"
                >Crear Post</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>