<div class="container" style="max-width: 70%;">
  <h2 class="text-center py-4 mb-0">Lista de Posts</h2>

  <table class="table table-striped table-hover">
    <thead class="table-dark border">
      <tr>
        <th>Id</th>
        <th>Titulo</th>
        <th>Contenido</th>
        <th class="text-center" >Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.body }}</td>
        <!-- Botones -->
        <td class="btn-group-vertical">
          <button [routerLink]="['/posts/', post.id]" class="btn btn-info text-white my-1">Detalle</button>
          <button [routerLink]="['/posts/edit', post.id]" class="btn btn-warning text-white my-1">Actualizar</button>
          <button (click)="deletePost(post.id)" class="btn btn-danger my-1">Eliminar</button>
        </td>
      </tr>

    </tbody>
  </table>


</div>