<div class="container" style="max-width: 100vh;">
    <h2 class="text-center py-4 mb-0">Crear Nuevo Post</h2>

    <form class="bg-light rounded shadow-sm p-5" (ngSubmit)="savePost()">
        <div class="mb-3">
            <label for="title" class="form-label">Título</label>
            <div class="col-md-6"> <!-- Ajusta esta clase para cambiar el ancho -->
                <input type="text" [(ngModel)]="post.title" name="title" id="title" class="form-control" required>
            </div>

        </div>
        <div class="mb-3">
            <label for="body" class="form-label">Contenido</label>
            <textarea [(ngModel)]="post.body" name="body" id="body" class="form-control" rows="10"
                style="resize: vertical;width: 100%;" required></textarea>
        </div>
        <div class="mt-5 d-flex justify-content-between">
            <a routerLink="/" class="btn btn-primary">Inicio</a>
            <div>
                <button type="reset" class="btn btn-secondary me-2">Limpiar</button>
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>
        </div>
    </form>
</div>