<div class="container bg-light rounded shadow-sm py-4" style="max-width: 600px;">
    <h2 class="text-center mb-4">Crear Nuevo Post</h2>

    <form class="mb-4" (ngSubmit)="savePost()">
        <div class="mb-3">
            <label for="title" class="form-label">Título</label>
            <input type="text" [(ngModel)]="post.title" name="title" id="title" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="body" class="form-label">Contenido</label>
            <textarea [(ngModel)]="post.body" name="body" id="body" class="form-control" required></textarea>
        </div>
        <div class="mt-5 d-flex justify-content-center gap-3">
            <a routerLink="/" class="btn btn-primary ">Inicio</a>
            <button type="reset" class="btn btn-secondary">Limpiar</button>
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>
    </form>
</div>