<div class="container d-flex justify-content-center align-items-center py-5">
    <!-- Cuadro -->
    <div class="text-center p-4 bg-light rounded shadow-sm">
        
        <h1 class="my-5">Bienvenido a la API Frontend</h1>
        
        <div class="d-flex justify-content-center gap-2">
            <a routerLink="/" class="btn btn-primary">Inicio</a>
            <a routerLink="/posts" class="btn btn-secondary">Ver Lista de Posts</a>
            <a routerLink="/posts/create" class="btn btn-primary">Crear un Post</a>
        </div>
    </div>
</div>