<h1 class="text-center py-4 mb-0">Bienvenido a la API Frontend</h1>
<p class="text-center py-2 mb-0">
    Aplicación para conectar a una API pública de acuerdo con los requerimientos
    de la actividad 9.
</p>

<!-- Imagen -->
<div class="text-center py-3">
    <img src="/src/assets/api.jpg" alt="Bienvenida" class="img-fluid rounded shadow-sm">
</div>

<div class="p-4 d-flex justify-content-center align-items-center bg-light rounded shadow-sm">
    <a routerLink="/posts" class="btn btn-secondary m-3" aria-label="Ver lista de posts">Ver Lista de Posts</a>
    <a routerLink="/posts/create" class="btn btn-primary m-3" aria-label="Crear un post">Crear un Post</a>
</div>